<nav>
<h1> <%=@group.name%></h1>
</nav>


<p> <%= @group.description%> </p>



<% if @members_in_ids.include? session[:user_id] %>
<a href = "/members/delete/<%=@group.id%>"> Leave group </a>
<%else%>
<a href = "/members/<%=@group.id%>" method= "post"> Join Group</a>
<% end %>

<h4> Created By : <%= @group.user.first_name%> <%= @group.user.last_name%></h4>
<div id = "members">
<h4> Members :</h4>
<% @members.each do |member| %>
<p> <%= member.user.first_name %> <%= member.user.last_name%></p>
    <% end %>
</div>
<div id = "nav"> 
<a href="/sessions" data-method="delete" class="logout"> Logout</a>
<a href="/groups">Back to Groups</a>
</div>